
.navBar {
  display: flex;
  justify-content: center;
  background: black;
}

.navBar button {
  background: black;
  border: 1px yellow;
  color: white;
}

.navBar button:hover {
  background: yellow;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 1rem;
}
