@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: flex;
}
.App {
  background-color: black;
  color: white;
}

.product-table {
  color: white;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100vw;
  overflow: auto;
}
.t-head {
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}
.t-body {
  font-style: normal;
  font-size: x-large; 
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-weight: 100;
}
.td {
  color: white;
}
button {
  background-color: transparent;
  border: 2px solid yellow;
  color: yellow;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.promo-banner {
  height: 1rem;
  padding: 0.2rem;
  width: 100%;
}
